{% load i18n %}
{% load navactive %}

{% if perms.assets.basic_access %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'assets:location' %}">{% translate "Locations" %}</a>
    </li>

    <div class="d-flex flex-row" id="aa-assets-tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" href="#tab-assets" data-bs-toggle="tab" aria-current="page" aria-selected="true" data-bs-target="#tab-assets" >
                {% translate "Assets" %}
                <span class="badge bg-secondary" id="assets-count"></span>
            </a>
        </li>

        <li class="nav-item" role="presentation">
            <a class="nav-link" href="#tab-my-requests" data-bs-toggle="tab" data-bs-target="#tab-my-requests" >
                {% translate "My Requests" %}
                <span class="badge bg-secondary d-none" id="my-request-count"></span>
            </a>
        </li>

        {% if perms.assets.manage_requests %}
            <li class="nav-item" role="presentation">
                <a class="nav-link" href="#tab-open-requests" data-bs-toggle="tab" data-bs-target="#tab-open-requests" >
                    {% translate "Requests" %}
                    <span class="badge bg-secondary d-none" id="request-count"></span>
                </a>
            </li>
        {% endif %}
    </div>
{% endif %}
