{% load i18n %}
{% load static %}
{% load bootstrap %}
{% load assets %}

{% assets_static 'css/assets.css' %}

<script type="application/javascript">
	let assetsSettings = {
        assetsUrl: '{% url "assets:api:get_assets" location_id=1042478386825 location_flag="corpsag5" %}',
        statisticsUrl: '{% url "assets:api:get_requests_statistics" %}',

        requestUrl: '{% url "assets:api:get_requests" %}',
        myRequestUrl: '{% url "assets:api:get_my_requests" %}',

        createRequestUrl: '{% url "assets:create_order" %}',
        manage_requests: '{% if perms.assets.manage_requests %}true{% else %}false{% endif %}',

		csrfToken: '{% csrf_token %}',
	};

    window.translations = {
        buy: '{% translate "Buy" %}',
        multiBuy: '{% translate "Multi Buy" %}',
    }

    const translation = window.translations;
</script>
