{% load i18n %}

<div role="tabpanel" class="tab-pane active" id="tab-assets">
    <div class="card">
        <div class="card-header bg-primary rounded-top px-2"><h3>Information Blatt</h3></div>
        <div class="card-body">
            Hier findest du alle Assets deiner Corporation die zum Verkauf stehen solltest du etwas davon kaufen wollen, wende dich bitte an den Direktoren bzw. Industrie Offizier.
        </div>
        <div class="card-body text-danger">
            Bitte benutzt die Multi Buy Funktion wenn ihr mehrere Assets kaufen wollt.
        </div>
    </div>
    <br><br>
    <div class="table-responsive">
        <table class="table table-striped table-hover order" id="assets" style="width: 100%;">
            <thead>
                <tr>
                    <th class="col-itemid"></th>
                    <th class="col-name">Name</th>
                    <th class="col-quantity">{% translate "Quantity" %}</th>
                    <th class="col-location">{% translate "Location" %}</th>
                    <th class="col-location-flag">{% translate "Location Flag" %}</th>
                    <th class="col-price">{% translate "Price" %}</th>
                    <th class="col-action">{% translate "Action" %}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="col-itemid"></td>
                    <td class="col-name"></td>
                    <td class="col-quantity"></td>
                    <td class="col-location"></td>
                    <td class="col-location-flag"></td>
                    <td class="col-price"></td>
                    <td class="col-action"></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="7"></th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
