{% load i18n %}

<div class="table-responsive">
    <table class="table table-striped table-hover location" id="location" style="width: 100%;">
        <thead>
            <tr>
                <th class="col-location-id" style="width: 20%;">{% translate "ID" %}</th>
                <th class="col-name" style="width: 20%;">{% translate "Name" %}</th>
                <th class="col-system" style="width: 5%;">{% translate "System" %}</th>
                <th class="col-action" style="width: 20%;">{% translate "Action" %}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="col-location-id"></td>
                <td class="col-name"></td>
                <td class="col-system"></td>
                <td class="col-action"></td>
            </tr>
        </tbody>
    </table>
</div>
