{% extends 'assets/base.html' %}
{% load i18n %}
{% load sri %}

{% block page_template_title %}
    {{ title }}
{% endblock %}

{% block assets_block %}
	<div class="card">
		<div id="card-assets">
			<div class="panel panel-default panel-tabs">
				<div class="panel-body">
					<div class="card-body bg-secondary tab-content rounded-bottom">
						{% include 'assets/partials/table/requests.html' %}
					</div>
				</div>
			</div>
    	</div>
	</div>
{% endblock %}

{% block extra_javascript %}
    {% include 'bundles/datatables-js-bs5.html' %}
    {% include "bundles/moment-js.html" with locale=True %}
    {% include "bundles/filterdropdown-js.html" %}

    {% include 'assets/bundles/settings-bundles.html' %}
    {% include 'assets/bundles/requests-bundles.html' %}
{% endblock extra_javascript %}
